.keyboard { 
	float: left;
	display: inline-block;
	margin: 0.4vw;
	font-size: 3vw;
	width: 7vw;
	height: 7vw; 
	line-height: 7vw;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	text-align: center;
	background: #306090;
}
.keyboard_twolines {
	line-height: 3.5vw;
}
.keyboard_first {
	clear: both;
}
.keyboard_spacing{
	float: left;
	display: inline-block;
	margin: 0.4vw;
	width: 1vw;
	height: 7vw;
	line-height: 7vw;
}
.keyboard_kspacing{
	float: left;
	display: inline-block;
	margin: 0.4vw;
	width: 7vw;
	height: 7vw;
	line-height: 7vw;
}
