.keyboard { 
	float: left;
	display: inline-block;
	margin: 0.4vw;
	font-size: 4vw;
	width: 7.5vw;
	height: 7.5vw; 
	line-height: 7.5vw;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	text-align: center;
	background: #306090;
	color: #fff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.keyboard_twolines {
	line-height: 3.5vw;
}
.keyboard_first {
	clear: both;
}
.keyboard_spacing{
	float: left;
	display: inline-block;
	margin: 0.4vw;
	width: 1vw;
	height: 7vw;
	line-height: 7vw;
	border: none;
	opacity: 0;
}
.keyboard_kspacing{
	float: left;
	display: inline-block;
	margin: 0.4vw;
	width: 7vw;
	height: 7vw;
	line-height: 7vw;
}
